<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="">Name</label>
        <input type="text" name="uname " id="">
        <br>

        <label for="">age</label>
        <input type="number" name=" uage" id="">
        <br>

        <button  type="submit">register</button>
    </form>
</body>
</html>